#welcome{
    width: 25%;
    height: 35em;
    border: 0.2em solid #9E8A99; 
    margin: 1.3em 3em;
    float: left;
    position: relative;
    font-family: "Lucida Grande", sans-serif;
    background-color: #FBF4E9;
    
}
#welcome p{padding: 8px;}

canvas{border: 0.1em solid #9E8A99; }
#mynetwork {
        width: 37%;
        height: 35em;
        border: 0.2em solid #9E8A99;         
        margin: 1.3em 0em;
        position: relative;
        float: left;
        border: 1px solid #9E8A99;
    }

#info{
    position: relative;
    margin: 1.3em 3em;
    border: 0.2em solid #9E8A99; 
    width: 25%;
    height: 35em;
    float: left;
    font-family: "Lucida Grande", sans-serif;
    background-color: #FBF4E9;
    text-align: center;
    z-index: -2;
}

#multiSelect{
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    line-height: 100%;
    padding-top: 1em;

}


.settings {
  /* Just to center the form on the page */
  width: 100%;
    height: 27%;
  /* To see the outline of the form */
  text-align: left;
    padding: 1em;

}


label {
  /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    text-align: left;
    color: black;

}

/* Dropdown Button */


