
canvas{border: none; }
#mynetwork {
        width: 60%;
        height: 47em;
        border: none;         
        margin: 1.3em 2em;
        position: relative;
        float: left;
        background-color: #D8D4F2;

    }

#info{
    position: relative;
    margin: 1.3em 3em;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color: #C4B2BC;
    text-align: center;
    z-index: 2;
    overflow: scroll;
    width: 25%;
    height: 33.4em;
    color: #393E41;

}

#infoName{
    text-align: center;
    padding: .5em;
}


.tabs{
    height: 100%;
    width: 100%;
    padding: none;
}

.settings {
  /* Just to center the form on the page */
  width: 100%;
  height: 20%;
  /* To see the outline of the form */
  text-align: left;
    padding-left: .4em;

}

select{
   height: 34px;
   width: 240px;
   height: 29px;
    float: right;
    margin-right: 1em;
   overflow: hidden;
   width: 50%;
    background-color: #ddd;
    font-family: 'Raleway', sans-serif;
    color: #393E41;
}




label {
  /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    text-align: left;
    color: #393E41;
    font-family: 'Raleway', sans-serif;

}

#hometab{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #C4B2BC;
    overflow: scroll;
    text-align: left;
    color: #393E41;
    
}
#hometab p{padding: 8px;}

/* Dropdown Button */


