.tipsBox{
    width: 40%;
    height: 45em;
    background-color: aqua;
    position: relative;
    display: inline-block;
    margin: 1.3em 3em;    text-align: center;
    background-color: #D8D4F2;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Raleway', sans-serif;
    color: #393E41;


}

.individualTips{
    width: 100%;
    position: relative;
    height: 7em; 
    background-color: #C4B2BC;
    margin: 1em 0px;
    align-content: center;
    text-align: left;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #393E41;

}

a {
    color: #393E41;
}