
#sentiment{ 
    height: 36em;
    background-color: #C4B2BC; 
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    overflow: scroll;
    color: #393E41;
    border-radius: 5px;
    margin-top: 1em;

}
ul.tab {
    list-style-type: none;
    overflow: hidden;
    background-color: #D8D4F2;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    border-top-radius: 5px;



}

/* Float the list items side by side */
/* this is the purple tab div*/

/* Style the links inside the list items */
ul.tab li a {
    color: #393E41;
    font-size: 12px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    height: 8em;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #FBF4E9;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #FBF4E9;}

/* Style the tab content */

