#sentiment{ 
    position: relative;
    border: 1px solid gray;
    width: 36em;
    height: 40em;
    float: right;
    background-color: #fafad2;   
    margin:3em auto;
    margin-right: 4em;
    font-family: "Lucida Grande", sans-serif;

}
ul.tab {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ccc;
    display: inline-block;
    width: 100%;
}

/* Float the list items side by side */
ul.tab li {
    float: left;
    position: relative;
    width: 33.3333%;
    height: 5em;
    
    
}

/* Style the links inside the list items */
ul.tab li a {
    color: black;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #fafad2;}

/* Style the tab content */
.tabcontent {
    padding: 4px 12px;
    border-top: none;


}

p{ padding: 5px 0px; }